.root {
    -fx-background-image: url("img/background.png");
    /*-fx-background-color:  linear-gradient(lightgray, gray);*/
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#loginButton {
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(lightgrey, gray);
}

#loginButton:hover {
    -fx-background-color: linear-gradient(gray, lightgrey);
}